@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

@keyframes faceIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

@keyframes fadeOut {
    from {
        opacity: 1;
    }
    to {
        opacity: 0;
    }
}

@layer base {
    html {
        @apply text-gray-900;
    }

    * {
        box-sizing: border-box;
    }

    button {
        @apply bg-white border border-gray-300 focus:outline-none
        hover:bg-gray-100 focus:ring-4 focus:ring-gray-200 font-medium rounded-lg text-sm px-5
        py-2.5 dark:bg-gray-800 dark:text-white dark:border-gray-600
        dark:hover:bg-gray-700 dark:hover:border-gray-600 dark:focus:ring-gray-700 dark:border;
    }

    select {
        @apply rounded-lg border border-gray-300 focus:outline-none dark:text-white dark:border-gray-600
        dark:hover:bg-gray-700 dark:hover:border-gray-600 dark:focus:ring-gray-700 dark:bg-gray-800;
    }

    input, textarea {
        @apply rounded-lg border border-gray-300 focus:outline-none dark:text-white dark:border-gray-600
        dark:hover:bg-gray-700 dark:hover:border-gray-600 dark:focus:ring-gray-700 dark:bg-gray-800;
    }

    textarea {
        box-sizing: border-box;
        line-height: normal;
        overflow: auto;
        display: block;
        margin: 0;
        padding: 0;
        width: 100%;
    }

    .half-border::after {
        content: '';
        position: absolute;
        left: 0;
        width: 100%;
        height: 50%;
        border-bottom: 2px solid red;
        bottom: 0;
    }

    .color-button {
        @apply px-4 py-2 bg-blue-500 text-white hover:bg-blue-400 font-semibold border-none;
    }

    .logo {
        font-family: "Jomhuria", serif;
        font-weight: 400;
        font-style: normal;
    }


    .tree-line {
        position: absolute;
        background-color: #e6e6e6;
    }

    /* Pionowa linia */
    .tree-line.vertical {
        width: 2px;
        height: 40px;  /* Stała wysokość dla wszystkich linii */
        top: -4px;
        left: -16px;
    }

    /* Pozioma linia */
    .tree-line.horizontal {
        height: 2px;
        width: 16px;  /* Stała szerokość */
        left: -16px;
        top: 50%;
    }

    /* Linia pomocnicza dla subkategorii */
    .tree-line.vertical-helper {
        position: absolute;
        width: 2px;
        left: -16px;
        top: 0;
        height: 100%;
    }

    .actions {
        display: flex; /* Ustawia przyciski obok siebie */
        align-items: center; /* Wyrównuje przyciski do wysokości innych elementów */
    }

    .actions button {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 32px; /* Szerokość przycisku */
        height: 32px; /* Wysokość przycisku */
        border-radius: 50%; /* Maksymalne zaokrąglenie rogów */
        background-color: #f0f0f0; /* Kolor tła */
        border: none; /* Brak obramowania */
        cursor: pointer; /* Wskaźnik kursora */
        padding: 0; /* Brak wewnętrznego marginesu */
    }

    .actions button:hover {
        background-color: #e0e0e0; /* Kolor tła po najechaniu */
    }

    .actions button:focus {
        box-shadow: inset 0 0 0 1px #ccc; /* Wewnętrzny cień o grubości 2px i kolorze #ccc */
    }
}
